.button {
    font-family: 'CircularStd Book';
    font-weight: 400;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgba(38, 44, 94, 0.5);
    border-radius: 23px;
    background-color: #ffffff;
    padding: 14px 31px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid 1px white;
    transition: background-color 100ms ease-out, border 100ms ease-out, color 100ms ease-out;
}
.button:not(.no-hover):hover {
    border: solid 1px var(--cornflower);
    background-color: rgba(110, 134, 255, 0.15);
    cursor: pointer;
}
.button:not(.no-hover):hover {
    border: solid 1px var(--cornflower);
    background-color: rgba(110, 134, 255, 0.15);
    cursor: pointer;
}
.button.no-hover {
    cursor: default !important;
}

.bg-cornflower, .button:not(.no-hover):active, .bg-cornflower:not(.no-hover):hover {
    border: solid 1px #7b91ff;
    background-color: #7b91ff;
    color: var(--really-light-blue);
    fill: var(--really-light-blue);
}
