.icon-wrapper {
    width: 32px;
    height: 32px;

    border-radius: 16px;
    background-color: rgba(110, 134, 255, 0.09);
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-wrapper:not(.no-hover):hover {
    background-color: var(--really-light-blue);
}
.icon-wrapper.no-hover:hover {
    background-color: rgba(110, 134, 255, 0.09);
}
.icon-wrapper.no-background, .icon-wrapper.no-background.no-hover:hover {
    background-color: transparent;
}
.icon-wrapper.no-background:not(.no-hover):hover {
    background-color: white;
}

.icon {
    width: 14px;
    height: 14px;
    display: inline-block;

    transition: transform 100ms ease-out ;
}
.turn-180 {
    transform: rotate(180deg);
}
.small-icon {
    width: 24px;
    height: 24px;
    border-radius: 12px;
}
.tiny-icon {
    width: 16px;
    height: 16px;
    border-radius: 8px;
}
