
.position-emitter {
    position: relative;
}
.position-area-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: inline-flex;
    flex-direction: row;
    cursor: text;
}
.position-area {
    flex: 1 0 0;
}
