.token-input {
    border: 1px solid gold;
    display: flex;
    flex-direction: row;
    height: 20px;
}
.token-input, .token-input input {
    font-size: 20px;
}
.display {
    border: 1px solid blue;
    cursor: text;
}
.post-display {
    flex-grow: 1;
}
.input-field {
    /* border: 1px solid red; */
    /* border-right: 0px solid transparent; */
    /* border-left: 0px solid transparent; */
    /* text-align: left; */
    /* padding: 0 .125em; */

      position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px,1px,1px,1px);
}
.input-field:focus {
    outline: 0px solid transparent;
}

.display {
    border-right: 0px solid transparent;
    border-left: 0px solid transparent;
    padding: 0 .125em;

}

.caret-holder {
    position: relative;
}
.caret {
    /* content: ' '; */
  /* display: inline-block; */
  position: absolute;
  width: 1px;
  height: 100%;
  background: #000;
}
.caret.hidden, .caret[hidden]  { display: none }