.transaction {
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    border-radius: 16px;
    padding: 23px;
    align-items: center;
    background-color: white;
}

.transaction-date {
    width: 93px;
    text-align: left;
    margin-left: 13px;
}

.transaction-description {
    color: #ffffff;
    padding: 9px;

    text-align: left;
    border-radius: 11px;


    /* height: 11px; */
    font-family: 'Gotham Pro Bold';
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;

}

.no-transactions {
    background-color:white;
    margin-bottom: 16px;
    border-radius: 16px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
}