.logo {
    /* align-self: flex-start;
    justify-self: flex-start; */
    /* background-color: blue; */
}
.rectangle-icon-wrapper {
    width: 44px;
    height: 44px;
    border-radius: 8px;
    background-color: var(--whiteish);

    display: flex;
    align-items: center;
    justify-content: center;
    fill:  var(--deep-sky-blue);
    transition: background-color 100ms ease-out;
    flex-shrink: 0;
}
.rectangle-icon-wrapper:hover {
    background-color: var(--pale-grey);
}
.transaction-input-area{
    height: 104px;
    width: 100%;
    padding-left:62px;
    padding-right:62px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
     box-shadow: 0 1px 0 0 var(--pale-grey);
    background-color: #ffffff;
}
.transaction-input-area.active {
    box-shadow: 0 4px 52px 0 rgba(159, 159, 159, 0.14);
}
.transaction-display {
    /* overflow: hidden; */
    border: 1px solid blue;
}
.tranaction-postdisplay {
     border: 1px solid blue;
     flex-grow: 1;
}
.transaction-input:focus {
    outline: 0px solid transparent;
}