.user-enter {
  opacity: 0;
  height: 0;
}
.user-enter-active {
  opacity: 1;
  height: 50px;
  transition: height 100ms ease-out, opacity 200ms ease-out;
}
.user-exit {
  opacity: 1;
  height: 50px;
}
.user-exit-active {
  opacity: 0;
  height: 0;
  transition: height 100ms ease-out, opacity 200ms ease-out;
}
.user-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-top: 34px;
}
