.user-enter {
  opacity: 0;
  height: 0;
}
.user-enter-active {
  opacity: 1;
  height: 90px;
  transition: all 200ms ease-out;
}
.user-exit {
  opacity: 1;
  height: 90px;
}
.user-exit-active {
  opacity: 0;
  height: 0;
  transition: all 200ms ease-out;
}